# Default ignored files
/../../untitled/.idea/shelf/
/../../untitled/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../untitled/.idea/httpRequests/
# Datasource local storage ignored files
/../../untitled/.idea/dataSources/
/../../untitled/.idea/dataSources.local.xml
